body {
    font-family: sans;
    font-size: 12pt;
}

h1 {
    font-size: 14pt;
}

h2 {
    font-size: 12pt;
    display: inline;
}

p {
    display: inline;
}

p::after {
    content: "\A";
    white-space: pre;
}
